body {
	font: normal 13px/1.6em  Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	color: #000000;
	margin: 0px;
	background: #ffffff;
}

h1, h2, h3, h4, h5 {
	font: normal 1em 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	margin:0px;
}

h1 { 
	font-size: 2.8em; 
    letter-spacing: -2px; 
    margin:0 0 10px 0; 
    border-bottom:solid 1px #666666;
} 
h2 { font-size: 2.5em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }

table {
	border-collapse: collapse;
	margin:10px 0 0 0;
}

table th {
	font-weight:bold;
	background:#efefef;
}

table td,
table th {
	padding: 4px;
	border: 1px solid #666666;
	vertical-align:top;
}

label {
	display:block;
	width:100px;
	float:left;
	margin-top:2px;
	font-weight:bold;
}

input[type=text],
input[type=password] {
	width: 500px;
	padding:4px;
}

input[type=submit] {
	padding:3px 10px;
	margin-left:100px;
}

textarea {
	width: 500px;
	height: 300px;
	padding:4px;
}

form div {
	margin-bottom:20px;
}

div#content {
	width:1000px;
	margin:auto;
	background:#ffffff;
	padding:10px;
}

label.error { 
	float: none; 
	color: red; 
	padding-left: 100px; 
	vertical-align: top; 
	width:500px;
}

div.card {
	width:170px;
	border:solid 1px #666;
	font-size:10px;
	padding:4px;
	margin-bottom:4px;
	cursor:pointer;
}

table.wall td {
	width:178px;
}

div.main {
	float:left;
	width:690px;
}

div.sideBar {
	float:left;
	width:300px;
	background:#efefef;
	padding:5px;
}

div.sideBar div {
	height: 30px;
}

.droppableHover {
	background:#efefef;
}

.handle {
	border:solid 1px black;
	background:white;
	text-align:center;
	cursor:move;
}