<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA" />
		</TestRunner>
	</NUnit>
	<appSettings>
		<add key="server" value="localhost" />
		<add key="port" value="1323" />
		<add key="extension" value="ashx" />
	</appSettings>
</configuration>