<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA" />
		</TestRunner>
	</NUnit>
	<castle>
		<components>
			<component id="justForTesting"
					   type="PixelDragons.PixelBugs.Tests.Unit.Web.When_using_the_web_application, PixelDragons.PixelBugs.Tests" />
		</components>
	</castle>
	<appSettings>
		<add key="server" value="localhost" />
		<add key="port" value="1330" />
		<add key="extension" value="ashx" />
		<add key="physicalPath" value="C:\Documents and Settings\Andy Pike\My Documents\Visual Studio 2008\PixelDragons\Projects\PixelBugs\src\PixelDragons.PixelBugs.Web\"/>
		<add key="startWebServer" value="false"/>
	</appSettings>
</configuration>