#capturefor(title)
    $strings.Titles_CardWall
#end

#capturefor(head)
    <script type="text/javascript" src="$siteroot/Content/Js/ui.core.js"></script>
    <script type="text/javascript" src="$siteroot/Content/Js/ui.draggable.js"></script>
    <script type="text/javascript" src="$siteroot/Content/Js/ui.droppable.js"></script>
#end

#capturefor(script)
    $(document).ready(function() {
        $("div.card")
            .each(function() {
                $("#" + this.getAttribute("status")).append(this);
            })
            .click(function() {
                location.href = 'Show.ashx?id=' + this.id;
            });
        
    #if($currentUser.HasPermission("EditCards"))
        //Only allow status editing if the user can edit cards
        $("div.card").draggable({
            helper: 'clone',
            ghosting: true,
			opacity: 0.5,
			fx: 300,
			handle: 'div.handle'
        });
        
        $(".lane").droppable({
            accept: "div.card",
            hoverClass: "droppableHover",
            drop: function(ev, ui) {
                //Get the id of the card and the new status id
                var card = ui.draggable[0];
                var statusId = this.id;
                
                //Use ajax to update the card status
                jQuery.ajax({
                    url: 'UpdateStatus.ashx',
                    type: 'POST',
                    data: { cardId: card.id, statusId: statusId },
                    success: function(data) {
                        card.setAttribute("status", statusId);
                    
                        $("div.card").each(function() {
                            $("#" + this.getAttribute("status")).append(this);
                        });
                    },
                    error: function() {
                        alert("Unable to change the card status");
                    }
                });
            }
        });
    #end
    
    });
#end

#if($currentUser.HasPermission("CreateCards"))
<div>$Url.Link($strings.Links_NewCard, "%{action='New'}")</div>
#end

<table class="wall">
    <tr>
        #foreach($status in $statuses)
        <th>$status.Name</th>
        #end
    </tr>
    <tr>
        #foreach($status in $statuses)
        <td id="$status.Id" class="lane"></td>
        #end
    </tr>
</table>

#foreach($card in $cards)
<div id="$card.Id" status="$card.Status.Id" class="card" style="background:$card.Type.Colour">
    #if($currentUser.HasPermission("EditCards"))<div class="handle">Drag Me</div>#end
    <div>#$card.Number $card.Title</div>
    <div style="background:$card.Priority.Colour">$card.Priority.Name</div>
    <div>$card.Points pt</div>
    <div>$UI.FormatUser($card.Owner, $strings.Options_NoOwner)</div>
</div>
#end