#capturefor(title)
    $strings.Titles_NewCard
#end

<div>$Url.Link($strings.Links_CancelBackToCardWall, "%{action='Index'}")</div>

$Form.FormTag("%{action='Create',id='form'}")
    
    #parse("Card/Partial/Form.vm")
    
</form>