<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities> 
			
		<facility
			id="mrfacility"
			type="Castle.MonoRail.WindsorExtension.MonoRailFacility, Castle.MonoRail.WindsorExtension" /> 

		<facility 
			id="loggingfacility" 
			type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" 
			loggingApi="Log4net" 
			configFile="Config\Logging.config" /> 

		<facility 
			id="atm" 
			type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />
		
		<facility 
			id="arfacility"
			type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration"
			isDebug="false" 
			isWeb="true">

			<assemblies>
				<item>PixelDragons.PixelBugs.Core</item>
			</assemblies>

			<config>
				<add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
				<add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
				<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
				<add key="default_schema" value="pixeldragons_pixelbugs.dbo" />
				<add key="connection.connection_string" value="server=localhost\SQLEXPRESS;database=pixeldragons_pixelbugs;uid=pixelbugs_user;pwd=password;"/>
			</config>
		</facility>

	</facilities>
</configuration>