<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities> 
			
		<facility 
			id="integration.facility" 
			type="Castle.MonoRail.WindsorExtension.RailsFacility, Castle.MonoRail.WindsorExtension" /> 

		<facility 
			id="loggingfacility" 
			type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" 
			loggingApi="Log4net" 
			configFile="Config\Logging.config" /> 

		<facility 
			id="startable" 
			type="Castle.Facilities.Startable.StartableFacility, Castle.MicroKernel" /> 
		
		<facility 
			id="atm" 
			type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />
		
		<facility 
			id="arfacility"
			type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration"
			isDebug="false" 
			isWeb="true">

			<assemblies>
				<item>PixelDragons.PixelBugs.Core</item>
			</assemblies>

			<config>
				<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
				<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
				<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
				<add key="hibernate.default_schema" value="pixeldragons_pixelbugs.dbo" />
				<add key="hibernate.connection.connection_string" value="server=localhost\SQLEXPRESS;database=pixeldragons_pixelbugs;uid=pixelbugs_user;pwd=password;"/>
			</config>
		</facility>

	</facilities>
</configuration>