<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		
		<component id="repository" 
				   service="PixelDragons.Commons.Repositories.IRepository`1, PixelDragons.Commons"
				   type="PixelDragons.Commons.Repositories.ARRepository`1, PixelDragons.Commons" />
		
	</components>
</configuration>