<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="issue.repository" 
				   service="PixelDragons.PixelBugs.Core.Repositories.IIssueRepository, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Repositories.IssueRepository, PixelDragons.PixelBugs.Core" />
	</components>
</configuration>