#capturefor(title)
    $strings.Titles_EditCard
#end

<div>$Url.Link($strings.Links_Cancel, "%{action='Show', querystring='Id=$card.id'}")</div>

$Form.FormTag("%{action='Update',id='form'}")
    $Form.HiddenField("card.id")
    
    #parse("Card/Partial/Form.vm")
    
</form>