<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="card.controller" type="PixelDragons.PixelBugs.Web.Controllers.CardController, PixelDragons.PixelBugs.Web" />
		<component id="security.controller" type="PixelDragons.PixelBugs.Web.Controllers.SecurityController, PixelDragons.PixelBugs.Web" />
	</components>
</configuration>