<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="authentication.filter" type="PixelDragons.PixelBugs.Web.Filters.AuthenticationFilter, PixelDragons.PixelBugs.Web" />
		<component id="authorization.filter" type="PixelDragons.PixelBugs.Web.Filters.AuthorizationFilter, PixelDragons.PixelBugs.Web" />
	</components>
</configuration>