<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="retrievedUsers.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.IRetrievedUserMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.RetrievedUserMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="retrievedUserPermissions.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.IRetrievedUserPermissionsMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.RetrievedUserPermissionsMapper, PixelDragons.PixelBugs.Core" />
		
	</components>
</configuration>