<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="UserDTO.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.IUserDTOMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.UserDTOMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="UserPermissionsDTO.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.IUserPermissionsDTOMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.UserPermissionsDTOMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="CardTypeDTO.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.ICardTypeDTOMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.CardTypeDTOMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="CardStatusDTO.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.ICardStatusDTOMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.CardStatusDTOMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="CardPriorityDTO.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.ICardPriorityDTOMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.CardPriorityDTOMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="CardDTO.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.ICardDTOMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.CardDTOMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="CardDetailsDTO.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.ICardDetailsDTOMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.CardDetailsDTOMapper, PixelDragons.PixelBugs.Core" />
		
		<component id="Card.mappers" 
				   service="PixelDragons.PixelBugs.Core.Mappers.ICardMapper, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Mappers.Impl.CardMapper, PixelDragons.PixelBugs.Core" />

	</components>
</configuration>