<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		
		<component id="user.queries" 
				   service="PixelDragons.PixelBugs.Core.Queries.IUserQueries, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Queries.UserQueries, PixelDragons.PixelBugs.Core" />
		
		<component id="cardStatus.queries" 
				   service="PixelDragons.PixelBugs.Core.Queries.ICardStatusQueries, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Queries.CardStatusQueries, PixelDragons.PixelBugs.Core" />
		
		<component id="cardPriority.queries" 
				   service="PixelDragons.PixelBugs.Core.Queries.ICardPriorityQueries, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Queries.CardPriorityQueries, PixelDragons.PixelBugs.Core" />
		
		<component id="repository" 
				   service="PixelDragons.Commons.Repositories.IRepository`1, PixelDragons.Commons"
				   type="PixelDragons.Commons.Repositories.ARRepository`1, PixelDragons.Commons" />
		
	</components>
</configuration>