<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="security.service" 
				   service="PixelDragons.PixelBugs.Core.Services.ISecurityService, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Services.Impl.SimpleSecurityService, PixelDragons.PixelBugs.Core" />
		
		<component id="card.service" 
				   service="PixelDragons.PixelBugs.Core.Services.ICardService, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Services.Impl.CardService, PixelDragons.PixelBugs.Core" />
	</components>
</configuration>