<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="security.service" 
				   service="PixelDragons.PixelBugs.Core.Services.ISecurityService, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Services.SimpleSecurityService, PixelDragons.PixelBugs.Core" />
		
		<component id="issue.service" 
				   service="PixelDragons.PixelBugs.Core.Services.IIssueService, PixelDragons.PixelBugs.Core"
				   type="PixelDragons.PixelBugs.Core.Services.IssueService, PixelDragons.PixelBugs.Core" />
	</components>
</configuration>