#capturefor(title)
    $strings.Titles_IssuesList
#end

#if($currentUser.HasPermission("CreateIssues"))
<div>$Url.Link($strings.Links_NewIssue, "%{action='New'}")</div>
#end

<table>
    <tr>
        <th>$strings.Columns_Created</th>
        <th>$strings.Columns_Summary</th>
        <th>$strings.Columns_Owner</th>
        <th>$strings.Columns_Reported</th>
    </tr>
    #foreach($issue in $issues)
    <tr>
        <td>$UI.FormatDate($issue.CreatedDate)</td>
        <td>$issue.Summary</td>
        <td>$UI.FormatUser($issue.OwnedBy, $strings.Options_NoOwner)</td>
        <td>$UI.FormatUser($issue.ReportedBy, $strings.Options_Anonymous)</td>
    </tr>
    #end
</table>