#capturefor(title)
    $strings.Titles_NewIssue
#end

#capturefor(script)
    Event.observe(window, 'load', function() {   
        new Validation('form', {
            immediate: true,
            useTitles: true
        });         
    });
#end

$Form.FormTag("%{action='Create',id='form'}")
    <div>
        $Form.LabelFor("issue.summary", $strings.Labels_Summary)
        $Form.TextField("issue.summary", "%{class='required', title='$strings.Errors_RequiredField'}")
    </div>
    
    <div>
        $Form.LabelFor("issue.description", $strings.Labels_Description)
        $Form.TextArea("issue.description", "%{class='required', title='$strings.Errors_RequiredField'}")
    </div>
    
    <div>
        $Form.LabelFor("issue.ownedBy.id", $strings.Labels_OwnedBy)
        $Form.Select("issue.ownedBy.id", $users, "%{value='Id', text='FullName', firstoption='$strings.Options_NoOwner'}")
    </div>
    
    <div>
        $Form.Submit($strings.Buttons_Save, "%{id='save'}")
    </div>
$Form.EndFormTag()