#capturefor(title)
    $strings.Titles_SignIn
#end

#if($error)
<div class="error">$strings.GetString("Errors_$error")</div>
#end

$Form.FormTag("%{action='Authenticate',id='form'}")
    <div>
        $Form.LabelFor("userName", $strings.Labels_UserName)
        $Form.TextField("userName")
    </div>
    
    <div>
        $Form.LabelFor("password", $strings.Labels_Password)
        $Form.PasswordField("password")
    </div>
        
    <div>
        $Form.Submit($strings.Buttons_SignIn, "%{id='signIn'}")
    </div>
</form>